{{page-title "Post"}}

<div class="post-list-page">
  <div class="list">
    {{#each this.post.list as |item|}}
      <PostCard>
        <h4>{{item.id}} - {{item.title}}</h4>
      </PostCard>
    {{/each}}
  </div>

  <Pagination
    @activePage={{this.post.activePage}}
    @next={{this.post.next}}
    @prev={{this.post.prev}}
    @isPrevButtonDisabled={{this.post.isPrevButtonDisabled}}
    @isNextButtonDisabled={{this.post.isNextButtonDisabled}}
  />
</div>